<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username"  [(ngModel)] = 'username' name="username" class="form-control"  required>
          <div [hidden]="!show_username_error" class="alert alert-danger">{{error_message}}</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"  [(ngModel)] = 'password' id="password" name="password" class="form-control" required>
          <div [hidden]="!show_password_error" class="alert alert-danger">{{error_message}}</div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)] = 'email' id="email" name="email" class="form-control" required>
            <div [hidden]="!show_email_error" class="alert alert-danger">{{error_message}}</div>
        </div>
        <button class="btn btn-primary" (click)="onClick(username, password, email)">Register</button>
      </div>
    </div>
  </div>